djitellopy
kaggle
matplotlib
numpy==1.23.5
opencv-python==4.6.0.66
pandas==1.5.2
seaborn
scikit-learn==1.1.2
tensorboard
--extra-index-url https://download.pytorch.org/whl/cu117
torch~=1.13.0
torchinfo
torchvision~=0.14.0
tqdm
